S3method("[",ColumnLinkedMatrix)
S3method("[",RowLinkedMatrix)
S3method("[<-",ColumnLinkedMatrix)
S3method("[<-",RowLinkedMatrix)
S3method("dimnames<-",ColumnLinkedMatrix)
S3method("dimnames<-",RowLinkedMatrix)
S3method(as.ColumnLinkedMatrix,list)
S3method(as.RowLinkedMatrix,list)
S3method(as.matrix,LinkedMatrix)
S3method(cbind,ColumnLinkedMatrix)
S3method(dim,ColumnLinkedMatrix)
S3method(dim,RowLinkedMatrix)
S3method(dimnames,ColumnLinkedMatrix)
S3method(dimnames,RowLinkedMatrix)
S3method(index,ColumnLinkedMatrix)
S3method(index,RowLinkedMatrix)
S3method(is.matrix,LinkedMatrix)
S3method(length,LinkedMatrix)
S3method(nodes,ColumnLinkedMatrix)
S3method(nodes,RowLinkedMatrix)
S3method(rbind,RowLinkedMatrix)
S3method(str,LinkedMatrix)
export(ColumnLinkedMatrix)
export(LinkedMatrix)
export(RowLinkedMatrix)
export(as.ColumnLinkedMatrix)
export(as.RowLinkedMatrix)
export(index)
export(nNodes)
export(nodes)
exportClasses(ColumnLinkedMatrix)
exportClasses(LinkedMatrix)
exportClasses(RowLinkedMatrix)
exportMethods(initialize)
exportMethods(show)
import(methods)
import(crochet)
